<div class='col-sm-4 col-sm-offset-4'>
  <hr>
  <%= form_with(model: client, local: true) do |f| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2 class='text-center'><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
        <hr>
        <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :medical_condition %>
      <%= f.text_area :medical_condition, class: 'form-control' %>
    </div>

    <%= f.fields_for :client_detail do |ff| %>

      <div class="form-group">
        <%= ff.label :housename, 'House Name or Number' %>
        <%= ff.text_field :housename, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :street_name %>
        <%= ff.text_field :street_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :street_name_2 %>
        <%= ff.text_field :street_name_2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :parish %>
        <%= ff.text_field :parish, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :island %>
        <%= ff.select :island, ['Jersey', 'Guernsey'], {prompt: true}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :email %>
        <%= ff.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :landline %>
        <%= ff.text_field :landline, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= ff.label :mobile %>
        <%= ff.text_field :mobile, class: 'form-control' %>
      </div>

    <% end %>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary btn-block btn-lg' %>
    </div>
  <% end %>
</div>
