<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <h2><%= @client.full_name %> <small>(<%= format_date(@client.date_of_birth) %>)</small></h2>
</div>
<div class="col-md-12">
  <hr>
</div>

<div class="col-md-6">
  <h5>Details</h5>
  <h4>Medical Condition</h4>
  <p class='lead'>
    <%= @client.medical_condition %>
  </p>
  <% if @address.present? %>
    <p>
      <b>Address:</b>
    </p>
    <p>
      <%= @address.housename %> <%= break_tag if @address.housename.present? %>
      <%= @address.street_name %> <%= break_tag if @address.street_name.present? %>
      <%= @address.street_name_2 %> <%= break_tag if @address.street_name_2.present? %>
      <%= @address.parish %> <%= break_tag if @address.parish.present? %>
      <%= @address.island %> <%= break_tag if  @address.island.present? %>
      <%= @address.email %> <%= break_tag if @address.email.present? %>
      <%= @address.landline %> <%= break_tag if @address.landline.present? %>
      <%= @address.mobile %>
    </p>
  <% end %>
  <%= link_to 'Edit', edit_client_path(@client) %> |
  <%= link_to 'Back', clients_path %>
</div>

<div class="col-md-6">
  <%= react_component 'ClientContacts', {
    clientId: @client.id, contacts: @client.client_contacts.order('date DESC')
  } %>
</div>

<div class="col-md-12 content-wrap">

</div>


